extends base

block content
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg Create your account
      form.form.form--signup
        .form__group
          label.form__label(for='name') Full Name
          input#name.form__input(type='text', placeholder='John Doe', required)
        .form__group
          label.form__label(for='email') Email address
          input#email.form__input(type='email', placeholder='you@example.com', required)
        .form__group.ma-bt-md
          label.form__label(for='password') Password
          input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
        .form__group.ma-bt-md
          label.form__label(for='passwordConfirm') Confirm Password
          input#passwordConfirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
        .form__group
          button.btn.btn--green Sign up
        .form__group.center
          p.form__text Already have an account? 
            a.form__link(href='/login') Sign in here

    style.
      .center {
        text-align: center;
        margin-top: 2rem;
      }
      .form__text {
        color: #777;
        font-size: 1.4rem;
      }
      .form__link {
        color: #55c57a;
        text-decoration: none;
        transition: all 0.2s;
      }
      .form__link:hover {
        color: #28b487;
      }
      .login-form {
        margin-top: 5rem;
        background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9));
        backdrop-filter: blur(10px);
        border: 1px solid rgba(255, 255, 255, 0.2);
      }
      .main {
        background: linear-gradient(to right bottom, #7dd56f, #28b487);
        min-height: 100vh;
        padding-top: 5rem;
      }
      .btn--green {
        width: 100%;
        padding: 1.5rem;
        transition: all 0.3s;
      }
      .btn--green:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
      }
      .form__input {
        border-radius: 5px;
        font-size: 1.5rem;
        font-family: inherit;
        border: none;
        border-bottom: 3px solid transparent;
        width: 100%;
        display: block;
        transition: all 0.3s;
      }
      .form__input:focus {
        outline: none;
        border-bottom: 3px solid #55c57a;
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
      }
      .form__input:focus:invalid {
        border-bottom: 3px solid #ff7730;
      }
      .form__label {
        font-size: 1.4rem;
        font-weight: 700;
        margin-bottom: 0.7rem;
        display: block;
      } 
